<form [formGroup]="orderForm">
    <div class="container">
    <div 
      formArrayName="items"
      *ngFor="let item of orderForm.get('items')['controls']; let i = index;">
    <div [formGroupName]="i">
        <input class="form-control mb-2" formControlName="name" placeholder="Item name">
        <input class="form-control mb-2" formControlName="description" placeholder="Item description">
        <input class="form-control mb-2" formControlName="price" placeholder="Item price">
      </div>
      Exposed item name: {{ orderForm.controls.items.controls[i].controls.name.value }}
    </div>
    <button class="btn btn-primary " type="button" (click)="addItem()">Add Item</button>
</div>
  </form>